extends base.pug
block style
    style
        include ../static/first.css

            
block content
    <section id="award">
        <!-- <h1>Best Actress</h1> -->

          <div class="rene">
              
              <h1 >Best Actress
                  <div class="hdi"> As of the 2020 ceremony, Renée Zellweger is the most <br> recent winner in this category for her portrayal of Judy<br> Garland in Judy.</div>
              </h1>
                  <img src="../static/rene.jpg">
          </div>

          <div class="joker">
              
              <h1 >Best Actor  
                  <div class="hdi">As of the 92nd Academy Awards, Joaquin Phoenix is the <br>mostrecent winner in this category for his portrayal of <br> Arthur Fleck/Joker in Joker (2019).</div>
              </h1>
                  <img src="../static/joa.jpg">
          </div>
    </section>
      

      <section id="supaward">
        <div class="ren">
              
            <h1 >Best Supporting Actress
                <div class="hd"> As of the 2020 ceremony, Laura Dern is the most <br>recent winner in this category for her role as <br>Nora Fanshaw in Marriage Story.</div>
            </h1>
                <img src="../static/laden.jpg">
        </div>

        <div class="joke">
            
            <h1 >Best Supporting Actor  
                <div class="hd"> As of the 2020 ceremony, Brad Pitt is the most <br>recent winner in this category for his performance as <br> Cliff Booth in Once Upon a Time in Hollywood.</div>
            </h1>
              <img src="../static/brad.jpg">
        </div>
      </section>
        
      <section id="difiward">
        <div class="dir">
              
            <h1 >Best Director
                <div class="hde"> As of the 2020 ceremony, Bong Joon-ho is the most<br> recent winner in this category for his work on Parasite.</div>
            </h1>
                <img src="../static/dire.jpg">
        </div>

        <div class="fil">
            
            <h1 >Best Film
                <div class="hde">Parasite won four awards including Best Picture,<br> the first non-English language film to win that award</div>
            </h1>
              <img src="../static/paraf.jpg">
        </div>
         
      </section>
       <footer id="fa"> &copy;2021 | All rights Reserved</footer>