doctype html
html
    head
        
        block style
           
    body
        
        <nav id="nav">
        <div class="log"><img src="../static/logos.jpg" alt=""></div>
        <ul><li><a href="/home">Home</a></li>
            <li><a href="/award">Awards</a></li>
            <li><a href="/news">News</a></li>
            <li><a href="/contact">Contact Us</a></li>
        </ul>
             </nav>
        block content
        
